{
"title": "MHD-Blunt-Nose",
"gas_model_file": "ideal-air-gas-model.lua",
"include_quality": false,
"dimensions": 2,
"axisymmetric": false,
"interpolation_order": 2,
"gasdynamic_update_scheme": "predictor-corrector",
"MHD": true,
"divergence_cleaning": true,
"divB_damping_length": 8.748906e+00,
"separate_update_for_viscous_terms": false,
"separate_update_for_k_omega_source": false,
"apply_bcs_in_parallel": true,
"max_invalid_cells": 0,
"thermo_interpolator": "rhoe",
"interpolate_in_local_frame": true,
"apply_limiter": true,
"extrema_clipping": true,
"flux_calculator": "hlle",
"compression_tolerance": -3.000000e-01,
"shear_tolerance": 2.000000e-01,
"M_inf": 1.000000e-02,
"grid_motion": "none",
"shock_fitting_delay": 1.500000e-03,
"write_vertex_velocities": false,
"udf_grid_motion_file": "dummy-grid-motion-file.txt",
"viscous": false,
"spatial_deriv_calc": "least_squares",
"spatial_deriv_locn": "faces",
"viscous_delay": 0.000000e+00,
"viscous_signal_factor": 1.000000e+00,
"turbulence_model": "none",
"turbulence_prandtl_number": 0.89,
"turbulence_schmidt_number": 0.75,
"max_mu_t_factor": 3.000000e+02,
"transient_mu_t_factor": 1.000000e+00,
"udf_source_terms_file": "dummy-source-terms.txt",
"udf_source_terms": false,
"reacting": false,
"reactions_file": "chemistry.lua",
"reaction_time_delay": 0.000000e+00,
"control_count": 10,
"nblock": 2,
"block_marching": false,
"nib": 1,
"njb": 1,
"nkb": 1,
"propagate_inflow_data": false,
"nhcell": 0,
"nsolidhcell": 0,
"udf_solid_source_terms_file": "dummy-solid-source-terms.txt",
"udf_solid_source_terms": false,
"nsolidblock": 0,
"block_0": {
    "type": "SBlock",
    "label": "BLOCK-0",
    "active": true,
    "grid_type": "structured_grid",
    "nic": 100,
    "njc": 100,
    "nkc": 1,
    "omegaz": 0.000000,
    "boundary_north": {"label": "", 
        "type": "exchange_over_full_face", 
        "group": "", 
"is_wall": false, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type": "full_face_exchange_copy", "other_block": 1, "other_face": "north", "orientation": 0, "reorient_vector_quantities": false, "Rmatrix": [1.000000, 0.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000, 0.000000, 1.000000]}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "update_thermo_trans_coeffs"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "boundary_east": {"label": "", 
        "type": "wall_with_slip", 
        "group": "", 
"is_wall": true, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type" : "internal_copy_then_reflect"}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "copy_cell_data"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "boundary_south": {"label": "", 
        "type": "wall_with_slip", 
        "group": "", 
"is_wall": true, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type" : "internal_copy_then_reflect"}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "copy_cell_data"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "boundary_west": {"label": "", 
        "type": "inflow_supersonic", 
        "group": "", 
"is_wall": false, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type": "flowstate_copy", "flowstate": {"p": 5.3000000000000000e+01, "T": [ 4.3800000000000000e+02], "massf": [ 1.0000000000000000e+00], "quality": 1.0000000000000000e+00, "velx": 6.2830000000000000e+03, "vely": 0.0000000000000000e+00, "velz": 0.0000000000000000e+00, "Bx": 0.0000000000000000e+00, "By": 0.0000000000000000e+00, "Bz": 0.0000000000000000e+00, "psi": 0.0000000000000000e+00, "divB": 0.0000000000000000e+00, "tke": 0.0000000000000000e+00, "omega": 0.0000000000000000e+00, "mu_t": 0.0000000000000000e+00, "k_t": 0.0000000000000000e+00, "S": 0}}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "copy_cell_data"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "dummy_entry_without_trailing_comma": 0
},
"block_1": {
    "type": "SBlock",
    "label": "BLOCK-1",
    "active": true,
    "grid_type": "structured_grid",
    "nic": 100,
    "njc": 100,
    "nkc": 1,
    "omegaz": 0.000000,
    "boundary_north": {"label": "", 
        "type": "exchange_over_full_face", 
        "group": "", 
"is_wall": false, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type": "full_face_exchange_copy", "other_block": 0, "other_face": "north", "orientation": 0, "reorient_vector_quantities": false, "Rmatrix": [1.000000, 0.000000, 0.000000, 0.000000, 1.000000, 0.000000, 0.000000, 0.000000, 1.000000]}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "update_thermo_trans_coeffs"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "boundary_east": {"label": "", 
        "type": "outflow_simple_extrapolate", 
        "group": "", 
"is_wall": false, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type": "extrapolate_copy", "x_order": 0}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "copy_cell_data"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "boundary_south": {"label": "", 
        "type": "wall_with_slip", 
        "group": "", 
"is_wall": true, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type" : "internal_copy_then_reflect"}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "copy_cell_data"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "boundary_west": {"label": "", 
        "type": "wall_with_slip", 
        "group": "", 
"is_wall": true, "ghost_cell_data_available": true, "convective_flux_computed_in_bc": false,         "pre_recon_action": [
          {"type" : "internal_copy_then_reflect"}
        ],
        "post_conv_flux_action": [

        ],
        "pre_spatial_deriv_action": [
          {"type" : "copy_cell_data"}
        ],
        "post_diff_flux_action": [

        ]
    },
    "dummy_entry_without_trailing_comma": 0
},
"dummy_entry_without_trailing_comma": 0
}
