{
"simulation_type": "nozzle",
"solver": "flow_optimizer",
"ncells": 300,
"length": 10.0,
"flux_calc": "ausmdv",
"gamma": 1.4,
"interpolation_order": 2,
"nozzle_back_pressure_factor": 0.5,
"cfl": 0.5,
"max_flow_steps": 10000000,
"max_flow_time": 1.0,
"adjoint_method": true,
"eps": 1.0e-50,
"max_opt_iters": 80,
"opt_tol": 1.0e-05,
"b": 0.45,
"c": 0.6,
"d": 3.8,
"yo": 0.105,
"scale": 1.0
}