# list of species
species = ["H2", "H", "O", "O2", "H2O", "H2O2", "HO2", "OH", "NO", "NO2", "HNO", "N", "N2"]

# A mapping of variable names for onedval to those
# found in the Tecplot file
variable_map = {'x':'X', 'y':'Y', 'z':'Z',
	     'u':'U',
	     'v':'V',
	     'w':'W',
	     'rho':'R',
	     'p':'P',
	     'T':'T',
	     'M':'M',
	     'h0':'Enthalpy_total' }

# list of types of one-D averages to compute
one_d_averages = ['area-weighted', 'mass-flux-weighted', 'flux-conserved'] 

# A scaling factor if coordinates are NOT in metres
grid_scale = 1.0

# Output properties
one_d_outputs = ['p', 'T', 'rho', 'u', 'M']

# Integrated quantities
integrated_outputs = ['mass flux', 'momentum flux', 'energy flux', 'species mass flux']

# Output options
output_file = 'test-props.txt'
output_format = 'as_data_file'



	     
