# list of species
species = ['air']

# A mapping of variable names for onedval to those
# found in the Tecplot file
variable_map = {'x':'X', 'y':'Y', 'z':'Z',
	     'u':'U velocity [m/s]',
	     'v':'V velocity [m/s]',
	     'w':'W velocity [m/s]',
	     'rho':'Density [kg/m^3]',
	     'p':'Pressure [Pa]',
	     'T':'Temperature [K]',
	     'M':'Mach Number',
	     'h0':'Total Enthalpy [J/kg]' }

# list of types of one-D averages to compute
one_d_averages = ['area-weighted', 'mass-flux-weighted', 'flux-conserved'] 

# A scaling factor if coordinates are NOT in metres
grid_scale = 0.23026347715684

# Output properties
one_d_outputs = ['p', 'T', 'rho', 'u', 'M']

# Integrated quantities
integrated_outputs = ['mass flux', 'momentum flux', 'energy flux', 'species mass flux']

# Output options
output_file = 'exit-props.txt'
output_format = 'verbose'




	     
